<%= provide(:title, "User Edit") %>

<%= form_with model: @user, local: true do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>Mail Address: <%= f.text_field :email %></p>
  <%= f.submit "é€ä¿¡" %>
<% end %>
