<% provide(:title, "Users Index") %>

<input class="form-control" id="myInput" type="text" placeholder="Search Curriculum..">

<%= will_paginate %>

<table class="table table-striped">
  <thead class="bg-primary text-white">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tbody id="myTable">
      <tr>
        <td><img src="<%= "/user_images/#{user.image_name}" %>" alt="user_image" width="50" height="50"><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to "詳細", user_path(user.id) %></td>
      </tr>
    </tbody>
  <% end %>
</table>

<%= will_paginate %>

<%= render 'users_search' %>
