<% provide(:title, @user.name) %>

  <div class="container user_show_container">
    <div class="card my-3">
      <div class="row">
        <div class="col-md-4">
          <img src="<%= "/user_images/#{@user.image_name}" %>" class="card-img-top img-thumbnail img-responsive" width="200" height="200">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= @user.name %></h5>
            <p class="card-text user_show_stats"><%= @user.email %></p>
            <section class="stats">
              <%= render 'shared/stats' %>
            </section>
            <!-- ログインしてるユーザーの場合のみ投稿フォーム表示 -->
            <% if current_user.id == @user.id %>
              <%= link_to "編集する", edit_user_path, { class: "btn btn-primary user_edit_btn"} %>
            <% end %>
          </div>
          <div class="card-body">
            <!-- フォロー・アンフォローのボタン -->
            <%= render 'follow_form' if user_signed_in? %>
          </div>
        </div>
      </div>
    </div>
    <!-- ユーザーのライド一覧 -->
    <div class="col">
      <h1 class="bg_wtext mt-3"><%= @user.name %>ライド一覧</h1>
      <% @user.rides.each do |ride| %>
        <div class="card mb-3">
          <div class="row rides_card_container">
            <div class="col-md-4">
              <img src="<%= "/user_images/#{ride.user_image_name}" %>" class="ml-4 img-thumbnail img-responsive" width="200" height="200">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= ride.title %></h5>
                <h5 class="ride_index_prefecture">開催地域：<%= ride.prefecture %></h5>
                <% if Join.find_by(user_id: current_user.id, ride_id: ride.id) %>
                  <p class="join_ride badge badge-info">
                    <i class="fas fa-bicycle fa-2x"> 参加</i>
                  </p>
                <% end %>
                <p class="card-text"><%= ride.message.truncate(43) %></p>
                <p class="card-text">投稿者:<%= ride.user_name %></p>
                <p class="card-text">
                  <small class="text-muted"><%= ride.created_at.to_s(:datetime) %>に投稿</small>
                </p>
                <%= link_to "詳細を見る", ride_path(ride), class: "btn btn-primary" %>
                <!-- ログイン中のユーザーとライドを投稿したユーザーの真偽判定 -->
                <% if current_user.id == ride.user.id  %>
                  <%= link_to "削除する", ride_path(ride), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
                <% end %>
                <!-- 参加ボタン -->
                <% if Join.find_by(user_id: current_user.id, ride_id: ride.id) %>
                  <%= link_to("/joins/#{ride.id}/destroy", {method: "post"}) do %>
                  <i class="fas fa-user-minus j_icon btn-secondary">取り消し</i>
                  <% end %>
                <% else %>
                  <%= link_to("/joins/#{ride.id}/create", {method: "post"}) do %>
                  <i class="fas fa-user-plus j_icon btn-dark">参加する</i>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
