<% provide(:title, @user.name) %>

  <div class="container">
    <div class="row">
      <div class="col-4 mypage_card">
        <div class="card" style="width: 18rem;">
          <img src="<%= "/user_images/#{@user.image_name}" %>" class="card-img-top img-thumbnail img-responsive" width="200" height="200">
          <div class="card-body">
            <h5 class="card-title"><%= @user.name %></h5>
            <p class="card-text"><%= @user.email %></p>
            <section class="stats">
              <%= render 'shared/stats' %>
            </section>
            <!-- ログインしてるユーザーの場合のみ投稿フォーム表示 -->
            <% if current_user.id == @user.id %>
              <%= link_to "編集", edit_user_path %>
            </div>
          <% end %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= link_to "#{@user.name}のライド一覧", "/user_rides/#{@user.id}" %></li>
          </ul>
          <div class="card-body">
            <!-- フォロー・アンフォローのボタン -->
            <%= render 'follow_form' if user_signed_in? %>
          </div>
        </div>
      </div>
    </div>
  </div>
