<% provide(:title, "Mypage") %>

<%= @user.name %>
<%= @user.email %>
<%= link_to "編集", edit_user_path %>

<% @user.rides.each do |ride| %>
  <p><%= ride.title %> : <%= ride.message %></p>
  <%= link_to "編集", edit_ride_path(ride.id) %>
  <%= link_to "削除", ride_path(ride.id), method: :delete, data: { confirm: '削除しますか？' } %>
<% end %>
