<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-4 mypage_card">
    <div class="card" style="width: 18rem;">
      <img src="<%= "/user_images/#{@user.image_name}" %>" class="card-img-top img-thumbnail img-responsive" width="200" height="200">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <p class="card-text"><%= @user.email %></p>
        <%= link_to "編集", edit_user_path %>
      </div>
      <!-- ログインしてるユーザーの場合のみ投稿フォーム表示 -->
      <% if current_user.id == @user.id %>
        <aside class="col-md-4">
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
      <% end %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to "ライド一覧", "/user_rides/#{@user.id}" %></li>
        <li class="list-group-item">投稿写真</li>
        <li class="list-group-item">他</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Follow</a>
        <a href="#" class="card-link">Follower</a>
      </div>
    </div>
  </div>
  <!-- ユーザーがmicropost一覧 -->
  <div class="col-6 mypage_microposts">
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
