<% provide(:title, "Mypage") %>

<% @user.rides.each do |ride| %>
  <div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="..." class="w-100" alt="...">
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">Title: <%= ride.title %></h5>
      <p>Message: <%= ride.message %></p>
      <a href="#" class="stretched-link">Go somewhere</a>
      <p>Post User: <%= ride.user_name %></p>
      <%= link_to "編集", edit_ride_path(ride.id) %>
      <%= link_to "削除", ride_path(ride.id), method: :delete, data: { confirm: '削除しますか？' } %>
      <p><%= ride.id %></p>
    </div>
  </div>
<% end %>
