<% provide(:title, "Home") %>



<h1>ライド一覧</h1>
<% if user_signed_in? %>
  <% @rides.each do |ride| %>
    <div class="row no-gutters bg-light position-relative mt-3">
      <div class="col-md-6 mb-md-0 p-md-4">

        写真いれる
      </div>
      <div class="col-md-6 position-static p-4 pl-md-0">
        <h5 class="mt-0">Title: <%= ride.title %></h5>
        <p>Message: <%= ride.message %></p>
        <p>aaaaa</p>
        <p>Post User: <%= ride.user_name %></p>
        <%= link_to "More", ride_path(ride) %>
        <p><%= ride.id %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <p>ログインしてください</p>
<% end %>
