<% provide(:title, "Rides index") %>

<% if user_signed_in? %>
  <div class="container rides_container">
    <h1 class="bg_wtext mb-3">ライド一覧</h1>
    <div class="rides_search_area">
      <%= search_form_for @q do |f| %>
        <%= f.label :name, "エリアから探す", { class: "search_pref"} %>
        <%= f.search_field :prefecture_cont, { class: "search_box form-control-lg col-4"} %>
        <%= f.submit "検索", { class: "btn btn-primary" } %>
      <% end %>
    </div>
    <% @rides.each do |ride| %>
    <!-- ライド情報 -->
      <div class="rides_card mb-3">
        <!-- ライドの中身 -->
        <div class="row rides_card_container">
          <div class="col-md-3 mt-4">
            <img src="<%= "/user_images/#{ride.user_image_name}" %>" class="ml-4 img-thumbnail img-responsive" width="200" height="200">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= ride.title %></h5>
              <h5 class="ride_index_prefecture">開催地域：<%= ride.prefecture %></h5>
              <% if Join.find_by(user_id: current_user.id, ride_id: ride.id) %>
                <p class="join_ride badge badge-danger">
                  <i class="fas fa-bicycle">Join!</i>
                </p>
              <% end %>
              <p class="card-text"><%= ride.message.truncate(45) %></p>
              <p class="card-text ride_index_guide">ガイド:<%= link_to ride.user_name, user_path(ride.user_id), { class: "user_link" } %></p>
              <a href="<%= followers_user_path(ride.user) %>"><p class="card-text ride_index_guide star"><i class="far fa-star"></i>(<%= ride.user.followers.count %>)</p></a>

              <p class="card-text">
                <small class="text-muted"><%= ride.created_at.to_s(:datetime) %>に投稿</small>
              </p>
              <%= link_to "詳細を見る", ride_path(ride), class: "btn btn-primary" %>
              <!-- ログイン中のユーザーとライドを投稿したユーザーの真偽判定 -->
              <% if current_user.id == ride.user.id  %>
                <%= link_to "編集する", edit_ride_path(ride), class: "btn btn-info" %>
                <%= link_to "削除する", ride_path(ride), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
              <% end %>
              <!-- 参加ボタン -->
              <% if Join.find_by(user_id: current_user.id, ride_id: ride.id) %>
                <%= link_to("/joins/#{ride.id}/destroy", {method: "post"}) do %>
                <i class="fas fa-user-minus j_icon btn btn-secondary">取り消し</i>
                <% end %>
              <% else %>
                <%= link_to("/joins/#{ride.id}/create", {method: "post"}) do %>
                <i class="fas fa-user-plus j_icon btn btn-dark">参加する</i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% else %>
<p>ログインしてください</p>
<% end %>
