<% provide(:title, "Ride") %>

  <div class="container">
    <div class="card mt-5">
      <div class="card-body ride_containts">
        <div>
          <h5 class="card-title col badge badge-secondary"><i class="fas fa-bicycle"></i> <br>
            <%= @ride.title %></h5>
          <p class="ride_poster col badge badge-dark">投稿者 :
            <%= @ride.user_name %><br><small class="text-muted">投稿日<%= @ride.created_at.to_s(:datetime) %></small></p>
        </div>
        <p>開催日 : <%= @ride.sch_datetime.to_s(:datetime) %></p>
        <hr>

        <p class="card-text">メッセージ :
          <%= @ride.message %></p>
        <hr>
        <div class="row ride_details">
          <p class="distance_mark col-5 badge badge-success"><i class="fas fa-road"></i> <%= @ride.distance %></p>
          <p class="rank_mark col-5 badge badge-danger"><i class="fas fa-exclamation-triangle"></i> <%= @rank %></p>
        </div>
      
        <hr>
        <p>【参加予定者】</p>
        <% @ride.j_users.each do |n| %>
          <img src="<%= "/user_images/#{n.image_name}" %>" alt="user_image" width="30" height="30">
          <%= n.name %>
        <% end %>
      </div>
      <%= render 'rides/rides_address'%>
      <div id="map" class="m-5"></div>
      <p class="mt-5 mb-3 message_posts">コメント一覧</p>
        <% @microposts.each do |c| %>
          <div class="message_posts">
            <% unless c.user.blank? %>
              <a href="<%= user_path(c.user_id) %>"><img src="<%= "/user_images/#{c.user.image_name}" %>" alt="user_image" width="30" height="30"
                class:"rounded-circle icon_image mr-3 mb-3"></a>
              <% end %>
            <%= c.user.name unless c.user.blank? %>
            <br />
            <%= c.content %>
          </div>
          <br />
        <% end %>
        <% if user_signed_in? %>
          <%= form_with(model: [@ride, @micropost], local: true) do |f| %>
            <%= f.text_area :content, class: "form-control message_to_r", rows: 5 %>
            <%= button_tag type: "submit", class: "btn btn-success float-right mt-1 message_btn" do %>
              <i class="far fa-comments">コメントする</i>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
