<% provide(:title, "Ride") %>

  <div class="container">
    <div class="card mt-5">
      <div class="card-body">
        <h5 class="card-title">タイトル :
          <%= @ride.title %></h5>
        <p>投稿者 :
          <%= @ride.user_name %></p>
        <p class="card-text">メッセージ :
          <%= @ride.message %></p>
        <p><%= @ride.sch_datetime.to_s(:datetime) %></p>
        <p>走行距離</p>
        <p><%= @ride.distance %></p>
        <p>ライドランク</p>
        <p><%= @ride.rank %></p>
        <p class="card-text">
          <small class="text-muted">投稿日<%= @ride.created_at.to_s(:datetime) %></small>
        </p>
        <p>参加予定者:</p>
        <% @ride.j_users.each do |n| %>
          <%= n.name %>
        <% end %>
      </div>
      <%= render 'rides/rides_address'%>
      <div id="map" class="m-5"></div>
    </div>
  </div>
