<% provide(:title, "Ride") %>

  <div class="container ride_show_container">
    <div class="card mt-5">
      <div class="card-body ride_containts">
        <div>
          <h5 class="card-title title col badge badge-secondary">
            <%= @ride.title %></h5>
          <p class="ride_poster col badge badge-dark">ガイド :
            <%= @ride.user_name %><br><small class="text-muted">投稿日<%= @ride.created_at.to_s(:datetime) %></small></p>
        </div>
        <p>開催日 : <%= @ride.sch_datetime.to_s(:datetime) %></p>
        <hr>

        <p class="card-text">メッセージ :
          <%= safe_join(@ride.message.split("\n"), tag(:br)) %></p>
        <hr>
        <!-- サイクリングアイコン表示 -->
        <div class="ride_details">
          <p class="distance_mark badge-success"><i class="fas fa-road">走行距離</i><br /> <%= @distance %></p>
          <p class="rank_mark badge-info"><i class="fas fa-globe-asia">開催地域</i><br /> <%= @ride.prefecture %></p>
          <p class="rule_mark badge-warning"><i class="fas fa-info-circle">参加条件</i><br /> <%= @rank %></p>
        </div>

        <hr>
        <p>【参加予定者】</p>
        <% @ride.j_users.each do |n| %>
          <img src="<%= "/user_images/#{n.image_name}" %>" alt="user_image" width="30" height="30">
          <%= n.name %>
        <% end %>
      </div>
      <%= render 'rides/rides_address'%>
      <div id="map" class="ride_map"></div>
      <p class="mt-5 mb-3 message_posts">コメント一覧</p>
        <% @microposts.each do |c| %>
          <div class="message_posts">
            <% unless c.user.blank? %>
              <a href="<%= user_path(c.user_id) %>"><img src="<%= "/user_images/#{c.user.image_name}" %>" alt="user_image" width="30" height="30"
                class:"rounded-circle icon_image mr-3 mb-3"></a>
            <% end %>
            <!-- ユーザーの投稿があれば表示する -->
            <%= c.user.name unless c.user.blank? %>
            <br />
            <%= c.content unless c.user.blank? %>
            <%= link_to "削除", "/rides/#{@ride.id}/microposts/#{c.id}", method: :delete, data: { confirm: '削除しますか？' } unless c.user.blank? %>
          </div>
          <br />
        <% end %>
        <% if user_signed_in? %>
          <%= form_with(model: [@ride, @micropost], local: true) do |f| %>
            <%= f.text_area :content, class: "form-control message_to_r", rows: 5 %>
            <%= button_tag type: "submit", class: "btn btn-success float-right mt-1 message_btn" do %>
              <i class="far fa-comments">コメントする</i>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
