<!DOCTYPE html>
<html>
  <head>
    <title>Rideon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "トップ", rides_path %>
      <%= link_to "投稿画面へ", new_ride_path %>
      <%= link_to "マイページへ", user_path(current_user.id) %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規作成", new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
